<div>
<h2><%=@toy.name.capitalize%>'s Spesifications: </h2>
<table>
<tr>
    <th>Name</th>
     <th>Type</th>
     <th>Id</th>
    </tr>
    <tr>
<td><%=@toy.name %></td>
<td><%=
@toy.ttype%></td>
<td><%=@toy.id%></td>
</tr>



</table>

</div>

